<link rel="stylesheet" href="./start-page/startpage.css" />

<div class="login-box">
  <div class="wrapper">
    <div class="welcome-text">
      <img class="icon" src="../design/login-2.svg" alt="" />
      <span class="sign-up">Log in with your Email</span>
      Log in Page by Aleksei Shikhaliev
    </div>
    <div class="username-data">
      <input type="email" placeholder="Email" required />
    </div>
    <div class="password">
      <input type="password" placeholder="Password" required />
      <img src="../design/eye-closed.svg" class="show-password" alt="" />
      <a href=""><span>Forgot password?</span> </a>
    </div>
    <div class="buttons"><button class="log-in">Log in</button><button
        class="sign-up"
      >Sign up</button></div>
    <span>Or sign up with</span>
    <div class="sign-up-options">
      <a href=""><img class="icon" src="../design/google.svg" alt="" /></a>
    </div>
  </div>
</div>

<script type="module" src="./start-page/startpage.js"></script>