<link rel="stylesheet" href="./sign-up.css" />

<div class="login-container">
  <h2>Sign Up</h2>
  <form id="sign-up-form">
    <input id="name" type="text" placeholder="First Name" required />
    <input id="surname" type="text" placeholder="Last Name" required />
    <input id="date" type="date" placeholder="Date of Birth" required />
    <input id="email" type="email" placeholder="Email" required />
    <input id="password" type="password" placeholder="Password" required />
    <input
      id="confirmPassword"
      type="password"
      placeholder="Confirm Password"
      required
    />
    <button type="button" id="sign-up-button">Sign Up</button>
  </form>
</div>

<script type="module" src="./sign-up.js"></script>