<link rel="stylesheet" href="./profile.css" />
<h1>Your Profile</h1>
<div class="name">{{name}}</div>
<div class="surname">{{surname}}</div>
<div class="email">{{email}}</div>
<div class="birthdate">{{birthdate}}</div>
<button class="change">Change Profile Information</button>

<script type="module" src="./profile.js"></script>